<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .header {
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid #000;
            padding-bottom: 5px;
        }

        .header > span {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #263141;
            max-width: 153px;
            margin-left: 12px;
            font-family: 'Roboto Light', sans-serif;
        }

        .header__logo {
            display: flex;
            align-items: center;
        }

        .header__logo > span {
            margin-left: 11px;
            font-weight: 700;
            font-size: 32.62px;
            line-height: 42.07px;
            color: #111111;
            font-family: 'Roboto Light', sans-serif;
        }

        main {
            margin-top: 10px;
            font-family: 'Roboto Light', sans-serif;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        main > span {
            font-size: 14px;
        }

        main > p {
            color: #000;
        }

        main > span > a {
            font-size: 14px;
            text-decoration: underline;
            text-underline-offset: 3px;
            color: deepskyblue;
            cursor: pointer;
        }

        .change__button {
            display: flex;
            justify-content: center;
            text-decoration: none;
            margin: 10px 0;
        }

        .change__button > button {
            font-family: 'Roboto Light', sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #fff;
            border: none;
            background: #FF4D4D;
            padding: 16px 20px;
            border-radius: 8px;
            cursor: pointer;
            transition: all .3s ease-in-out;
        }

        .change__button > button:hover {
            opacity: .8;
        }
    </style>
    <title>Behoof - смена пароля</title>
</head>
<body>
<header class="header">
    <div class="header__logo">
        <img src="https://i.imgur.com/gfi6irO.png" alt="logo">
        <span>Behoof</span>
    </div>
    <span>Лучшие цены
в интернет-магазинах </span>
</header>
<main>
    <p>
        Доброго дня, <%= locals.username %>!<br />
        Для сброса пароля нажмите кнопку ниже либо перейдите по ссылке<br />
    </p>
    <a href="<%= urlConfirmAddress %>" class="change__button">
        <button>Сменить пароль</button>
    </a>
    <span>Ссылка: <a href="<%= urlConfirmAddress %>"><%= urlConfirmAddress %></a></span>
</main>
</body>
</html>